body {
    background: orange url(bg.png);
    font-family: 'Nanum Gothic', sans-serif;
}
.h {
    border: blue;
    padding: 5px;
    border-style: outset;
    background: darkblue;
    color: yellow;
    text-align: center;
}
.menu {
    border: darkorange;
    padding: 10px;
    border-style: groove;
    background: orange url(bg.png);
    font-size: large;
}
.copyright {
    padding-top: 100px;
    text-align: center;
    font-size: small;
}
.comment {
    border: black;
    padding: 5px;
    border-style: outset;
    background: darkorange;
}
.brat {
    border: black;
    padding: 2px;
    background: orange;
    border-style: outset;
    padding-top: 3px;
}
.unknown {
    border: black;
    padding: 2px;
    background: orange;
    border-style: outset;
}
.loshara {
    border: black;
    padding: 2px;
    background: orange;
    border-style: outset;
}
.answer {
    padding-right: 10px;
}
.back {
    text-align: center;
}
.menu2 {
    text-align: center;
}
.update {
    background:darkblue;
    border: black;
    padding: 2px;
    border-style: outset;
    color: yellow ;
}
.backup {
    background: orange;
    border: black;
    padding: 2px;
    border-style: outset;
}
.menu3 {
    text-align: center;
    border: black;
    padding: 0px;
    border-style: outset;
    background:orange
}
.copymus {
    padding-top: 30px;
    text-align: center;
    font-size: small;
}
.musbut {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.musbut:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.musbut:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.allineed {
  text-align: center;
}